// Header
.header {
  padding-bottom: 45px;
  &-top {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &-signup {
    color: inherit;
    display: inline-block;
    padding: 0 20px;
  }
  &-buttons {
    display: none;
  }
  &-heading {
    font-size: 30px;
    line-height: calc(74 / 64);
    margin-bottom: 20px;
  }
  &-text {
    margin-bottom: 30px;
  }
  &-content {
    padding: 0 20px;
  }
  &-info {
    position: relative;
  }
  &-how {
    padding: 15px;
    background-color: #3c50e0;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    border-radius: 10px 0 0 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    z-index: 5;
  }
  &-revenue {
    left: 20px;
    bottom: 0;
  }
  @media screen and (min-width: 1024px) {
    padding-bottom: 90px;
    &-heading {
      font-size: 64px;
    }
    &-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-content {
      position: relative;
      max-width: 540px;
      left: 9.375%;
      padding: 0;
    }
    &-text {
      max-width: 443px;
    }
    &-revenue {
      left: 0;
      transform: translate(-100px, 50px);
    }
  }
}
